[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
multivitamin = {editable = true,path = "./../multivitamin"}
migraine = {editable = true,path = "./../MIGRAINE"}
numpy = "*"

[requires]
python_version = "3.7"
